.mainbanner {
  background-color: #f2f2f2;
  margin-bottom: 50px;

  &__banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  &__right {
    width: 100%;
    min-height: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      @media screen and (max-width: 768px) {
        object-fit: cover;
      }
    }
  }

  &__logo {
    max-width: 90px;
    max-height: 55px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 75px;
    font-weight: 800;
    line-height: 90px;
    text-align: left;

    margin-bottom: 25px;

    @media screen and (max-width: 1050px) {
      font-size: 50px;
      line-height: normal;
    }

    @media screen and (max-width: 850px) {
      font-size: 40px;
    }
  }

  &__desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    margin-bottom: 40px;

    @media screen and (max-width: 1050px) {
      font-size: 16;
      line-height: normal;
    }

    @media screen and (max-width: 850px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    background-color: var(--primary-color);
    color: var(--white);
    height: 100%;

    padding: 12px 50px;
    border-radius: 60px;
    cursor: pointer;

    @media screen and (max-width: 1050px) {
      font-size: 20px;
      line-height: normal;
      padding: 10px 30px;
    }

    &:hover {
      background-color: var(--primary-color) !important;
      color: var(--white) !important;
    }
  }
}
