.packages {
    margin-bottom: 60px;

    &__nav {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
        gap: 20px;

        margin-bottom: 30px;

        &_button {
            padding: 10px 30px;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            border-radius: 10px;
            color: var(--white);
            border: none;
            cursor: pointer;
            width: max-content;

            background-color: var(--primary-color);
        }

        @media screen and (max-width:880px) {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
        gap: 20px;
        row-gap: 30px;

        margin-bottom: 30px;

        @media screen and (max-width:880px) {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }

        @media screen and (max-width:660px) {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
    }

    &__btn_content {
        width: 100%;
        text-align: center;
    }

    &__btn {
        color: var(--black);
        padding: 10px 140px;
        background-color: #F2F2F2;
        border-radius: 10px;
        border: none;

        cursor: pointer;

        @media screen and (max-width:450px) {
            padding: 15px 50px;
        }
    }

    &__empty {
        width: 100%;
        margin: 100px 0px;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            opacity: .5;

        }

        text-align: center;
    }
}

.pack_select {
    width: 100%;
    height: 44px;
    
    div {
        border-radius: 10px !important;
        border: 1px solid #D9D9D9 !important;
        box-shadow: none !important;
    }

    span {
        color: var(--black) !important;
    }

    &:hover {
        box-shadow: none !important;
        div {
            border: 1px solid #D9D9D9 !important;
            box-shadow: none !important;
        }
    }
}
