
.mainbanner-swiper {
    padding: 64px 0px !important;
    .swiper-pagination {
        .swiper-pagination-bullet {
            background-color: var(--black) !important;
            opacity: .3 !important;
        }

        .swiper-pagination-bullet-active {
            opacity: 1 !important;
        }
    }
}

.navbar__ant_modal {
    .ant-modal-header {
        div {
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            line-height: 28.13px;
        }
    }
}