.videocard {
    max-width: 300px;
    max-height: 210px;
    position: relative;

    border-radius: 10px;
    overflow: hidden;

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width:768px) {
            width: 30px;
            height: 30px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    
    @media screen and (max-width:1300px) {
        max-width: 280px;
    }
    
    @media screen and (max-width:1220px) {
        max-width: 250px;
    }

    @media screen and (max-width:1100px) {
        max-width: 220px;
    }

    @media screen and (max-width: 980px) {
        max-width: 200px;
    }

    @media screen and (max-width: 900px) {
        max-width: 250px;
    }

    @media screen and (max-width: 460px) {
        max-width: 180px;
        max-height: 250px;
    }

    @media screen and (max-width: 410px) {
        max-width: 160px;
        max-height: 115px;
    }

    @media screen and (max-width: 370px) {
        max-width: 100%;
        max-height: 200px;
    }
}