.card {
  border: 1px solid #00000014;
  border-radius: 20px;
  padding: 20px 15px;

  max-width: 400px;
  max-height: 600px;

  @media screen and (max-width:560px) {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36.31px;
    text-transform: uppercase;

    margin-bottom: 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 50px;

    margin-bottom: 20px;

    img {
      max-width: 100px;
      max-height: 35px;
      width: 100%;
      height: 100%;

      object-fit: contain;

      @media screen and (max-width: 1150px) {
        max-height: 30px;
      }

      @media screen and (max-width: 768px) {
        max-height: 20px;
      }
    }
  }

  &__image {
    margin-bottom: 10px;

    img {
      max-width: 380px;
      max-height: 220px;
      width: 100%;
      min-height: 100%;
      border-radius: 15px;
      object-fit: cover;
    }
  }

  &__locals {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 5px;

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      opacity: 0.5;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      opacity: 0.5;
    }
  }

  &__deadline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      opacity: 0.5;
    }
  }

  &__progress {
    width: 100%;
    max-width: 240px;
    background-color: #d9d9d9;
    border-radius: 20px;
    overflow: hidden;

    &_bar {
      height: 5px;
      background-color: var(--primary-color);
      transition: width 0.5s;
    }
  }

  &__price {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    color: var(--black);

    margin-bottom: 20px;

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      color: #d9d9d9;
    }
  }

  &__btn {
    text-align: center;
    a {
      padding: 13px 75px;
      background-color: var(--primary-color);
      border-radius: 30px;
      border: none;

      color: var(--white);

      font-size: 15px;
      font-weight: 600;
      line-height: 18.15px;
      cursor: pointer;
    }
  }

  &__plane {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
