.about {
    &__banner {
        width: 100%;
        height: 100%;

        margin-bottom: 60px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__desc {
        display: flex;
        align-items: center;
        gap: 50px;

        justify-content: space-between;

        @media (max-width:768px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__left {
        width: 50%;
        @media (max-width:768px) {
            width: 100%;
        }
        h2 {
            font-size: 30px;
            font-weight: 500;
            line-height: 36px;
            text-transform: uppercase;

            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
        }
    }

    &__right {
        width: 50%;
        @media (max-width:768px) {
            width: 100%;
        }
    }

    &__collapse {
        background-color: var(--white);
        border-color: #EBEBEB;
        border-radius: 0px;
        padding: 8px 4px;

        margin-bottom: 80px;
        &_text {
            font-weight: 500;
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0%;
            vertical-align: middle;
        }
        div {
            border-color: #EBEBEB !important;
        }

        @media (max-width:768px) {
            margin-bottom: 30px;
        }
    }
}