.rating {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 5px;
    cursor: pointer;

    margin-bottom: 10px;

    p {
        font-weight: 700;
        font-size: 16px;
        line-height: 19.2px;
        letter-spacing: 0%;
        margin-top: 3px;
    }
}

.star {
    font-size: 25px;
    color: lightgray;
    transition: color 0.2s;
}

.star.active {
    color: var(--black);
}
