.navbar {
  &__inner {
    padding: 45px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    z-index: 3;
    background-color: var(--white);

    @media screen and (max-width: 1350px) {
      padding: 45px 30px 30px 30px;
    }

    @media screen and (max-width: 985px) {
      gap: 20px;
      padding: 30px 15px 30px 15px;
    }

    @media screen and (max-width: 930px) {
      margin: 20px 0px;
      box-shadow: 0px 0px 4px 0px #00000040;
      border-radius: 50px;

      padding: 16px 30px;
    }
  }

  &__logo {
    max-width: 50px;
    max-height: 58px;

    @media screen and (max-width: 1170px) {
      max-width: 40px;
      max-height: 50px;
    }

    @media screen and (max-width: 930px) {
      max-width: 100px;
      max-height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }

    img:nth-child(1) {
      @media screen and (max-width: 930px) {
        display: none;
      }
    }

    img:nth-child(2) {
      display: none;
      @media screen and (max-width: 930px) {
        display: block;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 930px) {
      display: none;
    }

    @media screen and (max-width: 1250px) {
      gap: 20px;
    }

    @media screen and (max-width: 1050px) {
      gap: 15px;
    }
  }

  &__item {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-transform: uppercase;

    &:after {
      display: block;
      content: "";
      border-bottom: solid 3px;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
      margin-top: 2px;
    }

    &.active:after {
      transform: scaleX(1);
    }

    &:hover:after {
      transform: scaleX(1);
    }

    @media screen and (max-width: 1350px) {
      font-size: 14px;
    }

    @media screen and (max-width: 1170px) {
      font-size: 12px;
    }
  }

  &__btn {
    border: none;
    background-color: var(--primary-color);
    padding: 12px 50px;

    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: var(--white);
    border-radius: 60px;
    cursor: pointer;

    @media screen and (max-width: 1250px) {
      padding: 10px 35px;
    }

    @media screen and (max-width: 1170px) {
      padding: 8px 30px;
      font-size: 16px;
    }

    @media screen and (max-width: 1050px) {
      padding: 6px 20px;
      font-size: 14px;
    }

    @media screen and (max-width: 930px) {
      display: none;
    }
  }

  &__burger {
    position: relative;
    width: 44px;
    height: 44px;
    background: transparent;
    cursor: pointer;
    display: none;
    cursor: pointer;
    @media screen and (max-width: 930px) {
      display: block;
    }

    &_item {
      display: block;
      position: absolute;
      width: 20px;
      height: 4px;
      width: 100%;
      background: black;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      @media screen and (max-width: 550px) {
        width: 80%;
      }
    }

    &_item:nth-child(1) {
      top: 20%;
      transform: translateY(-20%);
      transform-origin: left center;
      @media screen and (max-width: 550px) {
        transform-origin: none;
        left: 50%;
        top: 25%;
        transform: translateY(-25%) translateX(-50%);
      }
    }

    &_item:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
      transform-origin: left center;

      @media screen and (max-width: 550px) {
        transform-origin: none;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }

    &_item:nth-child(3) {
      top: 80%;
      transform-origin: left center;
      transform: translateY(-80%);
      @media screen and (max-width: 550px) {
        transform-origin: none;
        left: 50%;
        top: 75%;
        transform: translateY(-75%) translateX(-50%);
      }
    }

    &.active {
      background-color: var(--gray);
      border-radius: 10px;
      span:nth-child(1) {
        top: 13%;
        left: 15%;
        transform: translate(0%, -13%) rotate(45deg);
        @media screen and (max-width: 550px) {
          top: 20%;
          left: 20%;
          transform: translate(0%, -25%) rotate(45deg);
        }
      }
      span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      span:nth-child(3) {
        top: 82%;
        left: 15%;
        transform: translate(0%, 0%) rotate(-45deg);

        @media screen and (max-width: 550px) {
          top: 80%;
          left: 20%;
          transform: translate(0%, -55%) rotate(-45deg);
        }
      }
    }
  }

  &__modal {
    position: fixed;
    top: -100%;
    opacity: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: var(--gray);
    z-index: 2;
    overflow-y: auto;

    padding-top: 160px;
    transition: 0.3s;

    &.active {
      top: 0%;
      opacity: 1;
    }

    &_item {
      padding: 20px 0px;
      margin: 0px 20px;
      border-bottom: 1px solid #dedede;
      a {
        font-size: 20px;
        font-weight: 600;
        line-height: 16.8px;
        text-align: left;
        text-decoration-skip-ink: none;
      }
    }
  }

  &__ant_modal {
    &_text {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.75px;
      text-align: center;
      opacity: 0.5;

      margin-bottom: 30px;
    }

    &_btn {
      background-color: var(--primary-color);
      height: 40px;
      &:hover {
        background: var(--primary-color) !important;
      }
    }

    &_input {
      height: 40px;
    }
  }
}
