.about_client {

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        margin-bottom: 20px;

        @media screen and (max-width:768px) {
            justify-content: start;
        }

        a {
            font-size: 30px;
            font-weight: 500;
            line-height: 36px;
            text-transform: uppercase;
            cursor: pointer;

            @media screen and (max-width:768px) {
                font-weight: 500;
                font-size: 20px;
                line-height: 19.2px;
                letter-spacing: 0%;
                text-transform: none;
            }
        }

        img {
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
    }
}