.footer {
  background-color: #f2f2f2;
  padding: 40px 0px 90px 0px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 80px;

    @media screen and (max-width: 1200px) {
      gap: 50px;
    }

    @media screen and (max-width: 1000px) {
      gap: 25px;
    }

    @media screen and (max-width: 820px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__contact_item {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 20px;
  }

  &__logo {
    max-width: 180px;
    height: 40px;
    object-fit: contain;

    margin-bottom: 30px;

    @media screen and (max-width: 820px) {
      margin-bottom: 20px;
    }
  }

  &__routes {
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
      text-align: start;
      text-decoration-skip-ink: none;
      text-transform: uppercase;

      margin-bottom: 30px;

      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }

      @media screen and (max-width: 1000px) {
        font-size: 16px;
      }

      @media screen and (max-width: 820px) {
        margin-bottom: 20px;
      }
    }

    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.2px;
      text-transform: uppercase;
      margin-bottom: 20px;

      white-space: nowrap;

      @media screen and (max-width: 1000px) {
        font-size: 14px;
      }
    }
  }

  &__feedback {
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
      text-transform: uppercase;
      margin-bottom: 40px;
      white-space: nowrap;

      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }

      @media screen and (max-width: 1000px) {
        font-size: 16px;
      }

      @media screen and (max-width: 820px) {
        margin-bottom: 20px;
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 30px;

      @media screen and (max-width: 1000px) {
        gap: 25px;
      }

      img {
        @media screen and (max-width: 1200px) {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  &__pay {
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
      text-transform: uppercase;

      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }

      @media screen and (max-width: 1000px) {
        font-size: 16px;
      }

      @media screen and (max-width: 820px) {
        margin-bottom: 20px;
      }
    }

    div {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

      @media screen and (max-width: 1100px) {
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        gap: 10px;
      }

      @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        gap: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
