.statistics {
    width: 100%;
    background: #000000;
    border-radius: 50px;
    padding: 38px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 60px;

    @media screen and (max-width: 950px) {
        padding: 15px;
        border-radius: 35px;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
        border-radius: 25px;
    }

    &_box {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &_top_item,
    &_bottom_item {
        background: #262626;
        height: 141px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 950px) {
            height: 110px;
        }

        @media screen and (max-width: 768px) {
            height: 80px;
        }

        @media screen and (max-width: 400px) {
            height: 60px;
        }

        p {
            text-align: center;
            text-transform: uppercase;
        }
    }

    &_top_item {
        font-size: 54px;
        font-weight: 500;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        @media screen and (max-width: 950px) {
            font-size: 44px;
        }

        @media screen and (max-width: 768px) {
            font-size: 40px;
        }

        @media screen and (max-width: 400px) {
            font-size: 28px;
        }
    }

    &_bottom_item {
        font-size: 20px;
        font-weight: 500px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        @media screen and (max-width: 950px) {
            font-size: 16px;
        }

        @media screen and (max-width: 768px) {
            font-size: 14px;
        }

        @media screen and (max-width: 400px) {
            font-size: 11px;
        }
    }
}