.videos {
    &__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: left;

        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        margin-bottom: 60px;
        gap: 20px;
        row-gap: 20px;

        @media screen and (max-width: 1300px) {
            grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        }
    
        @media screen and (max-width: 1220px) {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
    
        @media screen and (max-width: 1100px) {
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        }

        @media screen and (max-width: 980px) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }

        @media screen and (max-width: 460px) {
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            gap: 10px;
            row-gap: 10px;
        }

        @media screen and (max-width: 410px) {
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: .5s;
    opacity: 0;
    transform: scale(0);

    &.active {
        opacity: 1;
        transform: scale(1);
    }
    
}
  
.modal__content {
    position: relative;
    padding: 20px;
    width: 50%;
    height: 430px;

    @media screen and (max-width:1050px) {
        width: 70%;
        height: 380px;
    }

    @media screen and (max-width:768px) {
        width: 80%;
        height: 500px;
    }

    @media screen and (max-width:768px) {
        width: 90%;
        height: 500px;
    }

    iframe {
        border-radius: 12px;
    }
}

.modal__close {
    position: absolute;
    top: -30px;
    right: -15px;
    background: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
    color: var(--white);

    @media screen and (max-width:768px) {
        top: -15px;
        right: -5px;
    }
}  