.partners {
  margin-bottom: 60px;

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;

    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    @media screen and (max-width: 850px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    @media screen and (max-width: 460px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }

  &__card {
    max-width: 300px;
    max-height: 210px;
    border-radius: 10px;
    background-color: #b6b6b61a;
    padding: 60px 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1000px) {
      max-width: 250px;
      height: 150px;

      padding: 30px 40px;
    }

    @media screen and (max-width: 580px) {
      max-width: 200px;
      height: 100px;

      padding: 10px 25px;
    }

    @media screen and (max-width: 380px) {
      max-width: 100%;
      height: 150px;

      padding: 30px 50px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
