.package_banner {
    &__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: left;
        text-transform: uppercase;

        margin-bottom: 30px;
    }
}